
__pycache__/
*.py[cod]
*$py.class


venv/
env/
ENV/
*.env


.vscode/
.idea/


*.sqlite3
db.sqlite3
media/
staticfiles/


*.log


.DS_Store
Thumbs.db

*.pyc
*.pyo
*.pyd
.Python


htmlcov/
.tox/
.coverage
coverage.xml


*/migrations/__pycache__/
*/migrations/*.pyc
